node_modules/

docs/.vitepress/cache
docs/.vitepress/dist
# pnpm-lock.yaml

.env.local

docs/public/robots.txt
docs/public/mas.cmd

package-lock.json
yarn.lock

test.txt

**.Identifier

/assets
/*.pdf

.spec-workflow/
CLAUDE.md