.vp-doc table {
	display: table;
	border-collapse: collapse;
	margin: 30px auto;
	width: 100%; /* 使表格宽度为 100% */
	overflow: auto;
}

h1 {
	color: #3451ad;
}

.vp-doc {
	p {
		text-indent: 2rem;
	}
	.footnote-item {
		p {
			text-indent: 0;
		}
	}
	.info,
	.tip,
	.warning,
	.danger,
	.datails {
		p {
			text-indent: 0;
		}
	}
}

.medium-zoom-overlay {
	z-index: 30;
}

.medium-zoom-image {
	z-index: 9999 !important; /* 给的值是21，但是实测盖不住，直接999 */
}
