.vp-doc table {
	display: table;
	border-collapse: collapse;
	margin: 30px auto;
	width: 100%; /* 使表格宽度为 100% */
	overflow: auto;
}

.vp-doc {
	p {
		text-indent: 2rem;
	}
	.footnote-item {
		p {
			text-indent: 0;
		}
	}
	.info,
	.tip,
	.warning,
	.danger,
	.datails {
		p {
			text-indent: 0;
		}
	}
	blockquote {
		p {
			text-indent: 0;
		}
	}
	h1 {
		color: #3451ad;
	}
	h2 {
		margin: 24px 0 16px;
	}
	h3 {
		margin: 16px 0 0;
	}
}

/* 引用样式 */
.vp-doc blockquote {
	border-radius: 5px;
	padding: 10px 16px;
	background-color: var(--vp-badge-tip-bg);
	position: relative;
	border-left: 4px solid #4eaaff;
}

.medium-zoom-overlay {
	z-index: 30;
}

.medium-zoom-image {
	z-index: 9999 !important; /* 给的值是21，但是实测盖不住，直接999 */
}

.image-container {
	top: 10%;
}

/* .VPHero.has-image.VPHomeHero{
	padding: 128px 64px 48px ;
}  */

.VPSidebarItem.level-0.collapsible {
	padding-bottom: 12px;
}
